@import 'normalize.css/normalize';

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: 'Space Mono', monospace;
}

#game {
  transform: scale(var(--ratio));
  transform-origin: top left;
}

#title {
  position: relative;

  width: 1920px;
  height: 1080px;

  background-image: url('../img/title.png');
  background-position: center;
}

#title-start {
  position: absolute;
  top: 790px;
  left: 1260px;

  width: 490px;
  height: 180px;

  cursor: pointer;
}

#instructions {
  position: relative;

  width: 1920px;
  height: 1080px;

  background-image: url('../img/instructions.png');
  background-position: center;
}

#instructions-text {
  position: absolute;
  top: 0;
  left: 1233px;

  width: 687px;
  height: 1080px;

  padding: 20px 50px;

  h1 {
    margin: 0;
  }
}

#main-game {
  position: relative;

  width: 1920px;
  height: 1080px;

  background-image: url('../img/main-bg.png');
  background-position: center;
}

#timer {
  display: block;

  position: absolute;
  top: 35px;
  left: 750px;

  width: 140px;
  height: 67px;

  color: #ffffff;
  font-size: 48px;
  line-height: 57px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;

  background: #1f1634;

  border: 5px solid #d864dd;
  border-radius: 5px;
}

.widget {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 141px;
  height: 142px;

  &--bubble {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .sprite {
    position: absolute;
  }
}

#component-circuit {
  .sprite {
    transform: scale(0.40);
  }
}

#component-bolt {
  .sprite {
  }
}

#component-antenna {
  .sprite {
    transform: scale(0.4);
  }
}

#component-cog {
  .sprite {
    transform: scale(0.6);
  }
}

#component-piston {
  .sprite {
    transform: scale(0.6);
  }
}

#component-sphere {
  .sprite {
    transform: scale(0.6);
  }
}

#component-tubing {
  .sprite {
    transform: scale(0.4);
  }
}

#component-keypad {
  .sprite {
    transform: scale(0.45);
  }
}

#component-valve {
  .sprite {
    transform: scale(0.6);
  }
}

#component-wire {
  .sprite {
    transform: scale(0.35);
  }
}

#component-reactor {
  .sprite {
    transform: scale(0.4);
  }
}

#component-dab {
  .sprite {
    transform: scale(0.6);
  }
}

@keyframes float {
  0% {
    transform: translate3d(0, -3%, 0);
  }
  50% {
    transform: translate3d(0, 3%, 0);
  }
  100% {
    transform: translate3d(0, -3%, 0);
  }
}

#unpicked {

  .widget {
    animation: float 5s infinite;
    // transform: translate3d(-50%, -50%, 0);
  }

  #component-circuit {
    top: 4%;
    left: 90%;
    animation-delay: -1000ms;
  }
  #component-bolt {
    top: 20%;
    left: 92%;
    animation-delay: -7000ms;
  }
  #component-antenna {
    top: 41%;
    left: 78%;
    animation-delay: -5000ms;
  }
  #component-cog {
    top: 56%;
    left: 82%;
    animation-delay: 0ms;
  }
  #component-piston {
    top: 74%;
    left: 92%;
    animation-delay: -6000ms;
  }
  #component-sphere {
    top: 85%;
    left: 86%;
    animation-delay: -4000ms;
  }
  #component-tubing {
    top: 14%;
    left: 84%;
    animation-delay: -9000ms;
  }
  #component-keypad {
    top: 26%;
    left: 78%;
    animation-delay: -8000ms;
  }
  #component-valve {
    top: 34%;
    left: 88%;
    animation-delay: -1200ms;
  }
  #component-wire {
    top: 50%;
    left: 90%;
    animation-delay: -2000ms;
  }
  #component-reactor {
    top: 70%;
    left: 84%;
    animation-delay: -3000ms;
  }
  #component-dab {
    top: 79%;
    left: 78%;
    animation-delay: -1000ms;
  }
}

#completed {
  position: absolute;
  top: 200px;
  left: 170px;

  width: 1275px;
  height: 622px;

  .widget {
    animation: none !important;
    
    &:nth-child(1) {
      position: absolute;
      top: 75px;
      left: 142px;
    }
    &:nth-child(2) {
      position: absolute;
      top: 393px;
      left: 87px;
    }
    &:nth-child(3) {
      position: absolute;
      top: 103px;
      left: 585px;
    }
    &:nth-child(4) {
      position: absolute;
      top: 323px;
      left: 388px;
    }
    &:nth-child(5) {
      position: absolute;
      top: 81px; 
      left: 919px;
    }
    &:nth-child(6) {
      position: absolute;
      top: 324px;
      left: 796px;
    }
  }
}

#game-over {
  position: absolute;
  top: 10%;
  left: 20%;

  z-index: 9999;

  width: 60%;
  height: 80%;

  background: rgba(255, 255, 255, 0.8);
  border: 10px solid #d864dd;
  border-radius: 5px;

  font-size: 28px;
  text-align: center;
}

.dancing-alien {
  display: block;
  margin: 0 auto;
}

.game-button { 
  width: 400px;
  height: 100px;
  background: #d864dd;
  color: white;
  font-size: 48px;
  font-family: 'Space Mono', monospace;
  cursor: hover;
}

h1 {
  font-size: 68px;
  font-family: 'Space Mono', monospace;
}

h2 {
  font-family: 'Space Mono', monospace;
}
